# These owners will be the default owners for everything in the repo.
CODEOWNERS mdh54@duke.edu mark.palmeri@duke.edu suyash.kumar@duke.edu david.a.ward@duke.edu ismael.perez@duke.edu tanvi.kamat.tarcar@duke.edu